RAILS_ENV=development

# Database Configuration
DB_PASSWORD=your_database_password
DB_USERNAME=root
DB_NAME=voice_generator_development

# ElevenLabs API Configuration
ELEVENLABS_API_KEY=your_api_key_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Redis Configuration (for Sidekiq)
REDIS_URL=redis://localhost:6379/0
